{% extends "base.html" %}
{% block content %}

        <div class="container">
   
       
    
        <div class='row'>
            <div class='col-12'>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <div class="alert alert-warning" role="alert">
                        {% for message in messages %}
                            {{ message }}<br>
                        {% endfor %}
                    </div>
                    {% endif %}
                {% endwith %}
                <h3>{{ project.name }} </h3> 
                
                
                {% for  task in project_tasks %}
                <h3><a href="{{project.id}}/task/{{task.id}}">{{ task.title }}</a> </h3>
            </hr>
            {% endfor %}
            <div class="task_add">
                {% if current_user.is_admin %}
                <h3><a href="{{ url_for('task.add_task', id_project=project.id)}}"> Добавить задачу </a> 
                    <a href="{{ url_for('projects.add_user_to_project', id=project.id)}}">Добавить участника</a></h3>
                
                {% endif %}
            </div>
            </div>
        </div>
    </div>
{% endblock %}